$font-family-base: "OutfitRegular", sans-serif !default;
$container-max-width: 1300px !default;
$container-padding-inline: 1.5rem !default;

$color-background: #ffffff !default;
$color-foreground: #171717 !default;
$color-brand-primary: #1c4584 !default;
$color-brand-accent: #17ace4 !default;
$color-brand-muted: #6b7280 !default;
